altair==5.0.1
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.2
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.5
contourpy
cycler==0.11.0
decorator==5.1.1
Faker
favicon==0.7.0
fonttools
gitdb==4.0.10
GitPython==3.1.32
google-api-core==2.11.1
google-auth==2.22.0
google-cloud-core==2.3.3
google-cloud-firestore==2.11.1
googleapis-common-protos==1.59.1
grpcio==1.56.0
grpcio-status==1.56.0
htbuilder==0.6.1
idna==3.4
importlib-metadata
Jinja2==3.1.2
jsonschema
jsonschema-specifications
kiwisolver==1.4.4
lxml==4.9.3
Markdown==3.4.3
markdown-it-py
markdownlit
MarkupSafe
matplotlib
mdurl
more-itertools
numpy
packaging
pandas
Pillow
proto-plus
protobuf
pyarrow
pyasn1
pyasn1-modules
pydeck
Pygments
pymdown-extensions
Pympler
pyparsing
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
referencing
requests
rich
rsa
six
smmap
soupsieve
st-annotated-text
streamlit
streamlit-analytics
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-lottie
streamlit-on-Hover-tabs
streamlit-option-menu
streamlit-toggle-switch
streamlit-vertical-slider
streamlit-pdf-viewer
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
zipp
